---
import '../styles/global.css';
import Header from '@/components/global/Header.astro';
import Footer from '@/components/global/Footer.astro';

interface Props {
	title?: string;
	header?: any;
	footer?: any;
	locale?: string;
	settings?: any;
}

const {title = 'Veb-Dev', locale = 'uk', settings} = Astro.props;
---

<html lang={locale}>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<title>{title}</title>
		{settings?.metaDescription && (
			<meta name="description" content={settings.metaDescription} />
		)}
	</head>
	<body>
		<Header settings={settings} locale={locale} />
		<main class="flex-1">
			<slot />
		</main>
		<Footer settings={settings} locale={locale} />
	</body>
</html>
